<p>/dropdown-one</p>

<ul>
    <li><a routerLink="/dropdown-one">Home</a></li>
    <li><a routerLink="/dropdown-one">News</a></li>
    <li class="dropdown">
        <a routerLink="/dropdown-one">DropDown</a>
        <div class="dropdown-content">
            <a routerLink="/dropdown-one">Link1</a>
            <a routerLink="/dropdown-one">Link2</a>
            <a routerLink="/dropdown-one">Link3</a>
        </div>
    </li>
</ul>

<h3 style="background-color: beige;">Dropdown Menu inside a Navigation Bar</h3>
<p>Hover over the "Dropdown" link to see the dropdown menu.</p>

