<ul>
    <li><a routerLink="/dropdown-two">Home</a></li>
    <li><a routerLink="/dropdown-two">News</a></li>
    <li class="drop">
        <a routerLink="/dropdown-two">Dropdown</a>
        <div class="dropdown-content">
            <a routerLink="/dropdown-two">Link1</a>
            <a routerLink="/dropdown-two">Link2</a>
            <a routerLink="/dropdown-two">Link3</a>
        </div>
    </li>
</ul>

<div class="gallery-container">
    <div class="gallery-item">
        <a target="_blank" href="./assets/wall.jpg">
            <img src="./assets/wall.jpg"/>
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
    <div class="gallery-item">
        <a target="_blank" href="./assets/wall.jpg">
            <img src="./assets/wall.jpg"/>
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
    <div class="gallery-item">
        <a target="_blank" href="./assets/wall.jpg">
            <img src="./assets/wall.jpg"/>
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
    <div class="gallery-item">
        <a target="_blank" href="./assets/wall.jpg">
            <img src="./assets/wall.jpg"/>
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>
<p>Hello world</p>