ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: #2e2e2e;
}

li {
    float: left;
    border-right: 1px solid #fff;
}

li>a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 15px;
}

li:hover {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #adadad;
}

.dropdown-content>a {
    display: block;
    min-width: 200px;
    text-decoration: none;
    color: #fff;
    padding: 12px 15px;
}

.dropdown-content>a:hover {
    background-color: #838383;
}

.drop:hover .dropdown-content{
    display: block;
}

.gallery-container {
    padding: 20px;
}

.gallery-item {
    width: 300px;
    height: auto;
    border: 1px solid #a3a2a2;
    padding: 2px;
    float: left;
    margin: 5px;
}

.gallery-item:hover {
    border: 1px solid #000;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

.gallery-container::after {
    clear: both;
    content: "";
    display: block;
}

@media only screen and (max-width: 1000px) {
    .gallery-item {
        width: 40%;
    }
}

@media only screen and (max-width: 500px) {
    .gallery-item {
        width: 100%;
    }

    li {
        float: none;
        border-right: 1px solid #fff;
        text-align: center;
    }
}