<div class="header">
    <div class="left-container">
        Abhijeet's blog
    </div>
    <div class="right-container">
        Where developers meet!!!
    </div>
</div>
<div class="clear"></div>

<div class="menu-container">
    <ul>
        <li><a routerLink="/site-example-one">Home</a></li>
        <li><a routerLink="/site-example-one">Members</a></li>
        <li><a routerLink="/site-example-one">Threads</a></li>
        <li class="updates"><a routerLink="/site-example-one">Updates</a></li>
    </ul>
</div>
<div class="clear"></div>

<div class="page-container">
    <div class="left-container">
        <div class="event">
            <div class="heading-1">Coding Event 1</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus a pellentesque sit amet porttitor eget dolor morbi non.</p>
            <img src="../../assets/codecomp.png" width="100%" height="auto">
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
        <div class="event">
            <div class="heading-1">Coding Event 2</div>
            <p>Id venenatis a condimentum vitae sapien pellentesque habitant morbi tristique. Tellus mauris a diam maecenas sed enim ut sem viverra.</p>
            <img src="../../assets/jarvis.jpg" width="100%" height="auto">
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
    </div>
    <div class="right-container">
        <div class="event">
            <div class="heading-1">About</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus a pellentesque sit amet porttitor eget dolor morbi non.</p>
            <img src="../../assets/wall.jpg" width="100%" height="auto">
        </div>
        <div class="event">
            <div class="heading-1">Top Post</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus a pellentesque sit amet porttitor eget dolor morbi non.</p>
            <img src="../../assets/stars.jpg" width="100%" height="auto">
        </div>
    </div>
</div>
<div class="clear"></div>

<div class="footer"><p>Footer</p></div>