<p style="text-shadow: 2px 2px 4px #ff2d2d;font-size: 2em;">css-shadows works!</p>


<p style="text-shadow: 0px 0px 4px #000;font-size: 1.5em;color: #fff;">css-shadows works!</p>
<p style="text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;">2 color shadow</p>

<p style="text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;">multi color</p>

<p style="text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black; font-size: 1.5em; color: beige;">border using shadow</p>

<div class="small-box-1">
    <p>Sample text</p>
</div>

<div id="box2">
    <p>Sample text</p>
    <img src="../../assets/wall.jpg" alt="Norway" width="600" height="400">
</div>

<div id="box3">
    Sample text
</div>

<div style="writing-mode: vertical-lr;">abc</div>