<p>css-form-two-responsive works!</p>
<div class="form-container">
    <form>
        
        <div class="col-25">
            <label for="inputName">First name</label>
        </div>
        <div class="col-75">
            <input type="text" id="inputName" name="name" placeholder="Your name">
        </div>

        <div class="col-25">
            <label for="inputLastName">Last name</label>
        </div>
        <div class="col-75">
            <input type="text" id="inputLastName" name="lastName" placeholder="Last name">
        </div>

        <div class="col-25">
            <label for="country">Country</label>
        </div>
        <div class="col-75">
            <select id="country">
                <option value="india">India</option>
                <option value="usa">USA</option>
                <option value="russia">Russia</option>
            </select>
        </div>

        <div class="col-25">
            <label for="coutry">Subject</label>
        </div>
        <div class="col-75">
            <textarea id="inputSubject" name="subject" placeholder="subject..." style="height:200px;"></textarea>
        </div>
        <div class="row">
            <input type="submit" value="Submit" [disabled]="false" (click)="alert1()">
        </div>
    </form>
</div>