<div class="form-container">
    <form>
        <label for="fname">First name</label>
        <input type="text" id="fname" name="firstname" placeholder="name...e.g.John/Mike">
        
        <label for="lname">Last name</label>
        <input type="text" id="lname" name="lastname" placeholder="lastname...e.g.Cena/Tyson">
        
        <label for="state">State</label>
        <input type="text" id="state" name="stateinput" placeholder="start typing state...e.g. Maharashtra/Gujrat">

        <label for="country">Country</label>
        <select id="country" name="country">
            <option value="india">India</option>
            <option value="usa">USA</option>
            <option value="russia">Russia</option>
        </select>

        <label for="comments">Comments</label>
        <textarea id="comments" name="commentstestarea" placeholder="comments..."></textarea>

        <input type="Submit" value="Submit">
    </form>
</div>