<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
<p>Sample paragraph</p>
<p class="para2" id="para1">Sample paragraph</p>
<p class="para-border">Bordered paragraph example</p>
<p class="para-border2">Bordered paragraph example 2</p>
<p class="para-margin para-border2">Bordered paragraph with margin example 2</p>

<p class="para3" >Bordered paragraph with <b>auto</b> margin example 2</p>

<div class="margin-div1">
  <p class="inherited-margin-para1" style="">Paragraph with inherited margin</p>

</div>

<div class="padding-20">
  Div with padding 5px 10px 20px 15px
</div>

<a href="https://www.w3schools.com/" target="_blank">Test link button</a>

<div style="background-color: #bddcff; margin:2px;">
Ordered list
<ol>
  <li>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; One</li>
  <li>Two</li>
  <li>Three</li>
  <li>Four</li>
  <li>Five</li>
</ol>

</div>

<div style="background-color: #bdffc0; margin:2px;display: inline-block;">
  Ordered list
  <ul>
    <li>             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mon</li>
    <li>Tue</li>
    <li>Wed</li>
  </ul>
  
  </div>
<br/>
  <div style="background-color: #bdffc0; margin:2px;display: inline-block;">
    Ordered list 2
    <ul style="list-style-type: circle;margin: 0;padding: 0;">
      <li style="background-color: red;">             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mon</li>
      <li>Tue</li>
      <li>Wed</li>
    </ul>
    
    </div>


    <div style="overflow-x:auto;">
      <table>
        <tr>
            <th><input type="checkbox"></th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Points</th>
          <th>Points</th>
          <th>Points</th>
          <th>Points</th>
          <th>Points</th>
          <th>Points</th>
          <th>Points</th>
          <th>Points</th>
          <th>Points</th>
          <th>Points</th>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>Jill</td>
          <td>Smith</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
          <td>50</td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>Eve</td>
          <td>Jackson</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
          <td>Adam</td>
          <td>Johnson</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
          <td>Eve</td>
          <td>Jackson</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
          <td>Adam</td>
          <td>Johnson</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
          <td>67</td>
        </tr>
        <tr>
          <td><input type="checkbox"></td>
          <td>Eve</td>
          <td>Jackson</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
          <td>94</td>
        </tr>
        <tr>
            <td></td>
          <td><input type="text" placeholder="Name"></td>
          <td><input type="text" placeholder="Last name"></td>
          <td><input type="text" placeholder="Points"></td>
          <td><input type="text" placeholder="Points"></td>
          <td><input type="text" placeholder="Points"></td>
          <td><input type="text" placeholder="Points"></td>
          <td><input type="text" placeholder="Points"></td>
          <td><input type="text" placeholder="Points"></td>
          <td><input type="text" placeholder="Points"></td>
          <td><input type="text" placeholder="Points"></td>
          <td><input type="text" placeholder="Points"></td>
          <td><input type="text" placeholder="Points"></td>
        </tr>
      </table>
    </div>
<router-outlet></router-outlet>
