.header, .footer {
    background-color: #7a7a7a;
    padding: 15px;
    color: #fff;
}

.page-container::after {
    content: "";
    clear: both;
    display: block;
}

.left-menu {
    float: left;
    width: 25%;
}

.right-page-contents {
    width: 75%;
    float: left;
    padding: 15px;
}

.page-container ul {
    list-style-type: none;
    padding: 5px;
}
.page-container ul li{
    color: #fff;
    background-color: #447ab8;
    padding: 10px;
    margin-bottom: 10px;
}

.display-inline-200 {
    display: inline;
    width: 200px;
    background-color: #ffa9a9;
}
.display-inline-block-200 {
    width: 200px;
    background-color: #ffa9a9;
    height: 30px;
}

.display-inline-block-50pc {
    width: 50%;
    background-color: #ffa9a9;
    height: 30px;
}

.footer-navigation {
    background-color: #003f86;
}

.footer-navigation ul li {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
}

.footer-navigation ul li a, .footer-navigation ul li a:link, .footer-navigation ul li a:visited, .footer-navigation ul li a:active {
    color: #fff;
    text-decoration: overline;
}