<p>Hello</p>
<h1>HTML tutorials:</h1>
<h2>HTML Tutorial</h2>
<h2>CSS Tutorial</h2>

<h1>Scripting tutorials:</h1>
<h2>JavaScript</h2>
<h2>VBScript</h2>

<h1>XML tutorials:</h1>
<h2>XML</h2>
<h2>XSL</h2>

<hr>
<p class="new"></p>

<ol>
    <li>item</li>
    <li>item   
    <ol>
      <li>item</li>
      <li>item</li>
      <li>item
      <ol>
        <li>item</li>
        <li>item</li>
        <li>item</li>
      </ol>
      </li>
      <li>item</li>
    </ol>
    </li>
    <li>item</li>
    <li>item</li>
  </ol>
  
  <ol>
    <li>item</li>
    <li>item</li>
  </ol>