<ul>
    <li class="first">Home</li>
    <li><a routerLink="/horizontal-navigation-demo-one">Navigation Demo Horizontal</a></li>
    <li><a routerLink="/responsive-top-nav">Responsive top nav</a></li>
    <li><a routerLink="/responsive-sidebar">Responsice side bar</a></li>
    <li><a routerLink="/dropdown-one">Dropdown using div</a></li>
    <li><a routerLink="/dropdown-two">Dropdown in menubar</a></li>
    <li><a routerLink="/image-sprites">Image sprites</a></li>
    <li><a routerLink="/css-forms-one">CSS forms example 1</a></li>
    <li><a routerLink="/css-forms-two-responsive">CSS forms example 2 responsive</a></li>
    <li><a routerLink="/css-counters">CSS counters</a></li>
    <li>Contact</li>
    <li>About</li>
    <li>Home</li>
    <li>News</li>
    <li>Contact</li>
    <li>About</li>
    <li>Home</li>
    <li>News</li>
    <li>Contact</li>
    <li>About</li>
    <li>Home</li>
    <li>News</li>
    <li>Contact</li>
    <li>About</li>
    <li>Home</li>
    <li>News</li>
    <li>Contact</li>
    <li>About</li>
    <li>Home</li>
    <li>News</li>
    <li>Contact</li>
    <li>About</li>
    <li>Home</li>
    <li>News</li>
    <li>Contact</li>
    <li>About</li>
    <li>Home</li>
    <li>News</li>
    <li>Contact</li>
    <li>About</li>
    <li>Home</li>
    <li>News</li>
    <li>Contact</li>
    <li>About</li>
    <li>Home</li>
    <li>News</li>
    <li>Contact</li>
    <li>About</li>
    <li>Home</li>
    <li>News</li>
    <li>Contact</li>
    <li>About</li>
    <li>Home</li>
    <li>News</li>
    <li>Contact</li>
    <li>About</li>
</ul>

<div class="page-content" style="margin-left: 25%;">
    <h2>Fixed Full-height Side Nav</h2>
    <h3>Try to scroll this area, and see how the sidenav sticks to the page</h3>
    <p>Notice that this div element has a left margin of 25%. This is because the side navigation is set to 25% width. If you remove the margin, the sidenav will overlay/sit on top of this div.</p>
    <p>Also notice that we have set overflow:auto to sidenav. This will add a scrollbar when the sidenav is too long (for example if it has over 50 links inside of it).</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <h2>Fixed Full-height Side Nav</h2>
    <h3>Try to scroll this area, and see how the sidenav sticks to the page</h3>
    <p>Notice that this div element has a left margin of 25%. This is because the side navigation is set to 25% width. If you remove the margin, the sidenav will overlay/sit on top of this div.</p>
    <p>Also notice that we have set overflow:auto to sidenav. This will add a scrollbar when the sidenav is too long (for example if it has over 50 links inside of it).</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <h2>Fixed Full-height Side Nav</h2>
    <h3>Try to scroll this area, and see how the sidenav sticks to the page</h3>
    <p>Notice that this div element has a left margin of 25%. This is because the side navigation is set to 25% width. If you remove the margin, the sidenav will overlay/sit on top of this div.</p>
    <p>Also notice that we have set overflow:auto to sidenav. This will add a scrollbar when the sidenav is too long (for example if it has over 50 links inside of it).</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <h2>Fixed Full-height Side Nav</h2>
    <h3>Try to scroll this area, and see how the sidenav sticks to the page</h3>
    <p>Notice that this div element has a left margin of 25%. This is because the side navigation is set to 25% width. If you remove the margin, the sidenav will overlay/sit on top of this div.</p>
    <p>Also notice that we have set overflow:auto to sidenav. This will add a scrollbar when the sidenav is too long (for example if it has over 50 links inside of it).</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
    <p>Some text..</p>
</div>